[MASTER]
# Use multiple processes to speed up Pylint.
jobs=4

[MESSAGES CONTROL]
disable=invalid-name
#invalid-name,missing-module-docstring,missing-class-docstring,missing-function-docstring

[TYPECHECK]
ignored-modules=math
